h1 {
	text-align: center;
	font-size: 35px;
}

span {
	color: orange;
	font-size: 35px;
}

img {
	max-width: 100%;
	box-shadow: 5px 5px 5px black;
	transition: all .3s;
}

img:hover {
	transform: scale(.8);
	box-shadow: 0px 0px 6px brown;
	border-radius: 180px;
}

#aboutusimg {
	width: 380px;
	border: 1px solid brown;
	transition: all .3s;
	margin: auto;
}

#aboutusimg:hover {
	padding: 20px solid brown;
box-shadow: 10px 10px 50px solid #978a7396;
	background-color: orange;
}

#aboutus {
	width: 1260px;
	margin: auto;
	background-color: #ececec;
	height: 500px;
	border: 2px solid orange;
	padding: 10px;
}

hr {
	height: 1px;
	background-color: orange;
	border: 2px solid black;
	border-style: dotted;
}

hr:hover {
	position: fixed;
}

#amarname {
	width: 700px;
	float: right;
	max-height: 100%;
	margin-top: 30px;
}

#amarname p {
	line-height: 25px;
}

#amarname,
#aboutusimg {
	display: inline-block;
}

#amarname p span {
	font-size: 50px;
	color: orangered;
	margin-bottom: 10px;
}
